[Unit]
Description=ClusterCockpit Web Server
Documentation=https://github.com/ClusterCockpit/cc-backend
Wants=network-online.target
After=network-online.target
# Database is file-based SQLite - no service dependency required

[Service]
WorkingDirectory=/opt/monitoring/cc-backend
Type=notify
NotifyAccess=all
Restart=on-failure
RestartSec=30
TimeoutStopSec=100
ExecStart=/opt/monitoring/cc-backend/cc-backend --config ./config.json --server

[Install]
WantedBy=multi-user.target
