/cc-backend
/.env
/config.json
/uiConfig.json

/var/job-archive
/var/machine-state
/var/job.db-shm
/var/job.db-wal
/var/*.db
/var/*.txt

/var/checkpoints*

migrateTimestamps.pl
test_ccms_write_api.sh

/web/frontend/public/build
/web/frontend/node_modules

/archive-migration
/archive-manager

/internal/repository/testdata/job.db-shm
/internal/repository/testdata/job.db-wal

/.vscode/*
dist/
*.db
.idea
tools/archive-migration/archive-migration
