/cc-backend

/var/job-archive
/var/*.db
/var/machine-state

/.env
/config.json

/web/frontend/public/build
/web/frontend/node_modules
/.vscode/*
/archive-migration
/archive-manager
var/job.db-shm
var/job.db-wal

dist/
*.db
