{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/analysis.css'>
{{end}}
{{define "javascript"}}
    <script>
        const cluster = {{ .Infos.cluster }};
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/analysis.js'></script>
{{end}}
