{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/list.css'>
{{end}}
{{define "javascript"}}
    <script>
        header.currentView = {{ .Infos.listType }}.toLowerCase() + 's';
        const listType = {{ .Infos.listType }};
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/list.js'></script>
{{end}}
