{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/node.css'>
{{end}}
{{define "javascript"}}
    <script>
        const infos = {{ .Infos }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/node.js'></script>
{{end}}
