{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/node.css'>
{{end}}
{{define "javascript"}}
    <script>
        const nodeInfos = {
            nodeId: "{{ .Infos.nodeId }}",
            clusterId: "{{ .Infos.clusterId }}"
        };
        const clusterCockpitConfigPromise = Promise.resolve({
            plot_general_colorscheme:           {{ .Config.plot_general_colorscheme           }},
            plot_general_lineWidth:             {{ .Config.plot_general_lineWidth             }},
            plot_general_colorBackground:       {{ .Config.plot_general_colorBackground       }},
        });
    </script>
    <script src='/build/node.js'></script>
{{end}}
