{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/systems.css'>
{{end}}
{{define "javascript"}}
    <script>
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfigPromise = Promise.resolve({
            plot_view_plotsPerRow:              {{ .Config.plot_view_plotsPerRow            }},
            plot_general_colorscheme:           {{ .Config.plot_general_colorscheme           }},
            plot_general_lineWidth:             {{ .Config.plot_general_lineWidth             }},
            plot_general_colorBackground:       {{ .Config.plot_general_colorBackground       }},
        });
    </script>
    <script src='/build/systems.js'></script>
{{end}}
