{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/systems.css'>
{{end}}
{{define "javascript"}}
    <script>
        header.currentView = 'system';
        const infos = {{ .Infos }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/systems.js'></script>
{{end}}
