{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/job.css'>
{{end}}
{{define "javascript"}}
    <script>
        const jobInfos = {
            id: "{{ .Infos.id }}",
        };
        const clusterCockpitConfig = {{ .Config }};
        const authlevel = {{ .User.GetAuthLevel }};
        const roles = {{ .Roles }};
        const resampleConfig = {{ .Resampling }};
    </script>
    <script src='/build/job.js'></script>
{{end}}
