{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/jobs.css'>
{{end}}

{{define "javascript"}}
    <script>
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfig = {{ .Config }};
        const projects = {{ .User.Projects }};
        const isManager = {{ eq .User.AuthLevel 3 }};
    </script>
    <script src='/build/jobs.js'></script>
{{end}}
