{{define "content"}}
    <div id="svelte-app"></div>
{{end}}
{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/taglist.css'>
{{end}}
{{define "javascript"}}
    <script>
        const username = {{ .User.Username }};
        const isAdmin = {{ .User.HasRole .Roles.admin }};
        const tagmap = {{ .Infos.tagmap }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/taglist.js'></script>
{{end}}
