{{define "content"}}
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-10">
            {{ range $tagType, $tagList := .Infos.tagmap }}
                <div class="my-3 p-2 bg-secondary text-white text-capitalize">
                {{ $tagType }}
                </div>
                {{ range $tagList }}
                <a class="btn btn-lg btn-warning" href="/monitoring/jobs/?tag={{ .id }}" role="button">
                    {{ .name }} <span class="badge bg-light text-dark">{{ .count }}</span> </a>
                {{end}}
            {{end}}
            </div>
        </div>
    </div>
{{end}}
