{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/config.css'>
{{end}}
{{define "javascript"}}
    <script>
        const isAdmin = {{ .User.HasRole .Roles.admin }};
        const isApi = {{ .User.HasRole .Roles.api }};
        const username = {{ .User.Username }};
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfig = {{ .Config }};
        const resampleConfig = {{ .Resampling }};
        const ncontent = {{ .Infos.ncontent }};
    </script>
    <script src='/build/config.js'></script>
{{end}}