{{define "content"}}
    <div id="svelte-app"></div>
{{end}}

{{define "stylesheets"}}
    <link rel='stylesheet' href='/build/home.css'>
{{end}}
{{define "javascript"}}
    <script>
        const isAdmin = {{ .User.HasRole .Roles.admin }};
        const filterPresets = {{ .FilterPresets }};
        const clusterCockpitConfig = {{ .Config }};
    </script>
    <script src='/build/home.js'></script>
{{end}}