
{{define "content"}}
    <div class="row">
        <div class="col">
            <h2>{{.Title}}</h2>
            <div class="alert {{.MsgType}}" role="alert">
            {{.Message}}
            </div>
        </div>
    </div>
{{end}}