{{template "base.tmpl" .}}
{{define "content"}}
<div class="row">
    <div class="col">
        <div class="alert alert-error" role="alert">
            404: Not found
        </div>
    </div>
</div>
{{end}}
