<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name='viewport' content='width=device-width,initial-scale=1'>
        <title>{{.Title}}</title>

        <link rel='icon' type='image/png' href='/favicon.png'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel='stylesheet' href='/global.css'>
        <link rel='stylesheet' href='/uPlot.min.css'>

        {{block "stylesheets" .}}
        {{end}}
        <script>
            const header = {
                "username": "{{ .User.Username }}",
                "isAdmin":  "{{ .User.IsAdmin }}",
                "clusters": {{ .Clusters }},
            };
        </script>
    </head>
    <body  class="site">
        <header id="svelte-header"></header>

        <main class="site-content">
            <div class="container">
                {{block "content" .}}
                    Whoops, you should not see this...
                {{end}}
            </div>
        </main>

        {{block "footer" .}}
            <footer class="site-footer bg-light">
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="link-secondary fs-5" href="/imprint" title="Imprint" rel="nofollow">Imprint</a></li>
                    <li class="footer-list-item"><a class="link-secondary fs-5" href="/privacy" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
                </ul>
            </footer>
        {{end}}

        {{block "javascript" .}}
            <script src='/build/header.js'></script>
        {{end}}
    </body>
</html>
