{{define "content"}}
<div class="row">
    <div class="col">
        {{if .Infos.username}}
            <i class="bi bi-person-circle"></i> {{ .Infos.username }}
            {{if .Infos.admin}}
                <span class="badge bg-primary">Admin</span>
            {{end}}
        {{end}}
    </div>
    <div class="col" style="text-align: right;">
        <form method="post" action="/logout">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>
<div class="row">
    {{if .Infos.admin}}
        <div class="col-4">
            <ul>
                <li><a href="/monitoring/jobs/">All jobs</a></li>
                <li><a href="/monitoring/users/">All users</a></li>
            </ul>
        </div>
    {{else}}
        <div class="col-4">
            <ul>
                <li><a href="/monitoring/jobs/">My jobs</a></li>
                <li><a href="/monitoring/user/{{.Infos.username}}">My user view</a></li>
            </ul>
        </div>
    {{end}}
    <div class="col-8">
        <h2>Clusters</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name/ID</th>
                    <th>Jobs</th>
                    <th>System View</th>
                    <th>Analysis View</th>
                </tr>
            </thead>
            <tbody>
                {{range .Infos.clusters}}
                    <tr>
                        <td>{{.ClusterID}}</td>
                        <td><a href="/monitoring/jobs/?cluster={{.ClusterID}}">Jobs</a></td>
                        <td><a href="/monitoring/systems/?cluster={{.ClusterID}}">System View</a></td>
                        <td><a href="/monitoring/analysis/?cluster={{.ClusterID}}">Analysis View</a></td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
