{{define "content"}}
<div class="row">
    <div class="col">
        <h2>Clusters</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Jobs</th>
                    <th>System View</th>
                    <th>Analysis View</th>
                </tr>
            </thead>
            <tbody>
                {{range .Infos.clusters}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td><a href="/monitoring/jobs/?cluster={{.Name}}">Jobs</a></td>
                        <td><a href="/monitoring/systems/{{.Name}}">System View</a></td>
                        <td><a href="/monitoring/analysis/{{.Name}}">Analysis View</a></td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
