{{define "navigation"}}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    {{block "brand" .}}
                        <img style="height: 30px;" alt="ClusterCockpit Logo" src="/img/logo.png" class="d-inline-block align-top">
                    {{end}}
                </a>
            </div>
        </nav>
    </header>
{{end}}

{{define "content"}}
    <div class="container" style="margin-top:80px;margin-bottom:80px;">
        <div class="row legal">
            <div class="col-xs-12">
                <h1>Imprint</h1>

                <h2>Website owner</h2>

                <p>name</p>
                <address>
                    address
                </address>
                <ul>
                    <li>
                        Phone: +49-</li>
                    <li>
                        Fax: +49-</li>
                    <li>
                        E-Mail:
                    </li>
                </ul>


                <h3>Represented by</h3>

                <p>
                    Your institution
                </p>

                <p>
                    Notice
                </p>

                <h3>Website Contact (Webmaster)</h3>

                <p>name</p>
                <ul>
                    <li>
                        Phone: +49-
                    </li>
                    <li>
                        E-Mail:
                    </li>
                </ul>

                <h3>Responsible controlling authority</h3>

                <address>
                    address
                </address>
                <p>
                    Website: </p>

                <h3>ID numbers</h3>

                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">VAT identification number</th>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">Tax number</th>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">DUNS number</th>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">EORI number</th>
                            <td>xxx</td>
                        </tr>
                        <tr>
                            <th scope="row">Bank details:</th>
                            <td>xxx
                                <ul>
                                    <li>SWIFT/BIC-Code: </li>
                                    <li>IBAN: </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2>Reporting misuse of computers and network resources</h2>

                <p>
                    Should you become aware of any kind of misuse of computers or network resources at XXX,
                    <a href="URL">please inform the department responsible for computer security</a> immediately.

                    <h2>Copyright</h2>

                    <p>
                        Unless specified otherwise, all pages of the INSTITUTION
                        website are protected by copyright. This applies in
                        particular to texts, images, charts, and files
                        containing style, sound, video, or animation data; it
                        also includes the design of the website.
                    </p>
                    <p>
                        Reproduction or use of (parts) of the web pages in
                        electronic or printed form  and their publication
                        (including on the Internet) is subject to prior
                        approval.
                    </p>
                    <p>
                        Press releases, publications, scripts and information
                        on lectures may be reprinted  and evaluated provided
                        that the source is indicated.  Furthermore, images,
                        charts, and files containing text or other information,
                        may,  in part or in their entirety, be subject to the
                        copyright of third parties.
                    </p>
                    <p>
                        All registered brands and trademarks mentioned on this
                        website and possibly protected  by third parties are
                        subject without restriction to the respective
                        applicable trademark  law and the property rights of
                        their respective owners. The mere mention of trademarks
                        on this website does not indicate that they are not
                        protected by third party rights.
                    </p>

                    <h2>Exclusion of liability</h2>

                    <p>
                        This imprint only belongs to the following website:<br>
                        <strong><em>DOMAIN</em></strong><br> The website owner
                        is not responsible for other websites, that are not
                        listet above.
                    </p>
                    <p>
                        The operator has compiled and verified all information
                        provided with great care.  However, we cannot assume
                        liability or furnish a guarantee that the data is
                        correct, complete or up-to-date, or regarding the
                        quality or constant availability of the  information
                        provided.
                    </p>
                    <p>
                        We will not be liable for any damages arising from
                        computer viruses or the installation  and use of
                        software when accessing or downloading data from this
                        website.
                    </p>
                    <p>
                        Websites credited to an author reflect the opinions and insights of that author.
                    </p>
                    <p>
                        The operator expressly reserves the right to change,
                        amend or delete individual web  pages, services or the
                        entire website without prior notice or to interrupt or
                        terminate the publication.
                    </p>

                    <h2>Links and references (disclaimer)</h2>

                    <p>
                        The operator is only responsible for the original
                        content provided in accordance with the applicable
                        laws. This original content is to be distinguished from
                        links to the websites of other operators. Through these
                        references marked as ‘external links’, the
                        operator enables visitors to access ‘third-party
                        content’.
                    </p>
                    <p>
                        The operator is not responsible for this third-party
                        content as the operator does not  initiate the data
                        transmission, does not choose the recipient of the
                        information and does  not select or have any influence
                        on the information transmitted. The methods used to
                        provide access and link to this third-party information
                        also do not involve any automatic  short-term storage,
                        resulting in a full exclusion of any liability for
                        third-party content  on the operator’s part.
                    </p>
                    <p>
                        When links to these websites were first incorporated,
                        however, the authors of the relevant  websites or the
                        operator’s editors reviewed the external content to
                        ascertain whether it  would possibly entail liability
                        under civil or criminal law. Should the operator become
                        aware or be made aware by others that the content of a
                        website linked from this site could  constitute a civil
                        or criminal law violation, then the link will be
                        immediately removed  as long as this is technically
                        feasible and within reasonable expectation.
                    </p>
                    <p>
                        Liability for illegal, inaccurate or incomplete content
                        and for damages resulting from  the use or non-use of
                        information provided by third parties shall lie
                        exclusively with  the respective operators of the
                        linked sites.
                    </p>
            </div>
        </div>
    </div>
{{end}}
